@media only screen and (max-width: 2500px) {
  .container {
    max-width: 1200px; }
  .hamburger {
    display: none; }
  .body, html {
    font-size: 20px; }
  .sub_title.resources-sub {
    padding: 0 16rem 0; }
  .main-nav {
    display: block; }
  .slick-next, .slick-prev {
    width: 1.2rem;
    height: auto; }
  .slick-next {
    right: -5rem; }
  .slick-prev {
    left: -5rem; }
  .pg {
    padding: 2.5rem 3rem; }
  .programs__left__title {
    padding: 0; }
  .programs_left_content {
    padding: 0; }
  .programs-wrapper {
    width: 50%; }
  .programs__right__childleft .programs__right__box:first-child, .programs__right__childright .programs__right__box:first-child {
    margin-bottom: calc(48px + 1.25rem); } }

@media only screen and (max-width: 1900px) {
  .container {
    max-width: 1200px; }
  .hamburger {
    display: none; }
  .body, html {
    font-size: 20px; }
  .sub_title.resources-sub {
    padding: 0 16rem 0; }
  .main-nav {
    display: block; }
  .slick-next, .slick-prev {
    width: 1.2rem;
    height: auto; }
  .slick-next {
    right: -4rem; }
  .slick-prev {
    left: -4rem; } }

@media only screen and (max-width: 1500px) {
  .slick-next {
    right: -2rem; }
  .slick-prev {
    left: -2rem; }
  .body, html {
    font-size: 14px; }
  .tab_content {
    margin-top: 8rem; }
  .wrap_team_content {
    margin-top: -4rem; }
  .pg {
    padding: 2.5rem 2rem; } }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px; }
  .hamburger {
    display: none; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%; }
  h3 {
    font-size: 2rem; }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #62B446; }
  .main-nav__list {
    flex-direction: column;
    height: 100vh;
    margin: 0 2rem; }
  .programs-wrapper {
    width: 100%; }
  .main-nav__item:not(:last-child) {
    margin-right: 0; }
  .container {
    width: calc( 100% - 15px); }
  .main-nav__item:not(:last-child) {
    margin-bottom: 2.5rem; }
  .main-nav__item:first-child {
    margin-top: 2rem; }
  .hamburger {
    display: block; }
  .helper-content {
    flex-direction: column; }
  .helper-content__box {
    justify-content: space-between; }
    .helper-content__box:not(:last-child) {
      margin-bottom: 1rem; }
  .helper-content__box.divide__4 {
    width: 100%; }
  .testimonial-wrapper {
    flex-direction: column; }
  .resources {
    clip-path: polygon(50% 0, 100% 3%, 100% 100%, 0% 100%, 0 97%, 0 3%);
    padding: 5rem 0; }
  .resources-sub {
    padding: 20px 0 0; }
  .resources-cards {
    flex-direction: column; }
  .resources-card__item {
    width: 100%; }
  .programs-wrapper {
    flex-direction: column; }
  .programs__left {
    padding: 0 2rem;
    margin-bottom: 2rem; }
  .programs__right {
    flex-direction: column; }
  .programs__right__childleft, .programs__right__childright {
    width: 100%; }
  .programs__right__childleft {
    margin-bottom: 63px; }
  .testimonial-text p, .testimonial-blockquote p {
    padding: 0 1rem; }
  .testimonial-content.divide__2 {
    padding: 4rem 0; }
  .hexagon {
    bottom: 5%; }
  .team-wrapper {
    flex-direction: column; }
  .wrap_team_content {
    padding: 2rem 1rem 7rem 1rem; }
  .team {
    height: auto; }
  .sub_title.resources-sub {
    padding: 0 1rem 0; }
  .blog {
    clip-path: polygon(50% 0, 100% 3%, 100% 100%, 50% 97%, 0% 100%, 0 3%);
    padding: 6rem 0;
    margin-top: -4.5rem; }
  .blog-cards {
    flex-direction: column; }
  .blog-card {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto; }
    .blog-card:not(:last-child) {
      margin-bottom: 1rem; }
  .case-studies .slick-next {
    right: 0; }
  .case-studies .slick-prev {
    left: 0; }
  .main-carousel__title {
    font-size: 1.8rem; }
  .main-carousel__subtitle {
    font-size: 1.2rem; }
  .main-carousel__content {
    top: 60%; }
  .main-nav__link.active, .main-nav__link:hover {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid white; }
  .main-nav__link {
    padding: 0.8rem 0; }
  .logo img {
    max-width: 100px; }
  .process {
    clip-path: polygon(50% 0, 100% 3%, 100% 100%, 50% 100%, 0 100%, 0 3%);
    padding: 4rem 0; }
  .process-wrapper {
    flex-direction: column; }
  .title-control, .process-title {
    text-align: center; }
  .process-controls__single {
    margin-top: 1rem; }
    .process-controls__single:not(:last-child) {
      margin-right: 2rem; }
  .process-controls__single::after {
    margin-left: 0.25rem;
    vertical-align: baseline; }
  .tab_content.active {
    flex-direction: column; }
  .process-content__left {
    order: 2;
    padding: 1rem; }
  .process-content__right {
    order: 1; }
    .process-content__right img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      margin-top: 1rem; }
  .process-controls {
    display: flex; }
  .process-controls__single a {
    font-size: 1rem; }
  .section-help {
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 50% 97%, 0 100%, 0 0);
    padding: 4rem 0; }
  .testimonial {
    margin-top: -1.4rem; }
  .programs {
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 50% 97%, 0 100%, 0 0);
    padding: 6rem 0; }
  .programs__right {
    position: relative;
    width: 100%;
    left: 0;
    transform: none; }
  .tab_content {
    margin-top: 0; }
  .wrap_team_content {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  .container {
    max-width: 100%; } }
