$color_header_light: #5D5D5E;
$color_text_black: #000;
$color_grey: #9D9E9D;
$color_light_grey: #EFEFEF;
$color_border: #5D5D5E;
$color_header_green: #62B446;
$color_com: #62B446;
$white: #fff;
$hexagon: #E8E8E8;

