/****************************************
    #. stylesheet list
     1. sass imports
     2. general css
     3. Main Navigation
     4. Hero Carousel
****************************************/
/***************************************
 1. SASS imports
***************************************/
@font-face {
  font-family: 'ArcherPro';
  src: url("../fonts/ArcherPro-Semibold.woff2") format("woff2"), url("../fonts/ArcherPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-LightItalic.woff2") format("woff2"), url("../fonts/Gotham-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url("../fonts/Archer-Bold.woff2") format("woff2"), url("../fonts/Archer-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherPro';
  src: url("../fonts/ArcherPro-Book.woff2") format("woff2"), url("../fonts/ArcherPro-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-BookItalic.woff2") format("woff2"), url("../fonts/Gotham-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/***************************************
 1. General CSS
***************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  color: #000;
  font-family: 'Gotham Book';
  font-weight: normal;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerize {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 5rem;
  font-family: 'Gotham';
  font-weight: bold;
}

h3 {
  font-size: 3.6rem;
  font-family: 'ArcherPro';
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-family: 'Archer';
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
  font-family: 'Archer';
  font-weight: bold;
}

.text__color--green {
  color: #62B446;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.text-dark {
  color: #000;
}

.text-grey {
  color: #5D5D5E;
}

.text-green {
  color: #62B446;
}

.gotham-book-book {
  font-family: 'gotham book';
  font-weight: normal;
}

.black {
  color: #000;
}

.shadow-boxed-1 {
  -webkit-box-shadow: 0 8PX 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8PX 22px rgba(0, 0, 0, 0.25);
}

.btn-main {
  display: inline-block;
  font-family: 'archer';
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 4rem;
  background: #62B446;
  -webkit-box-shadow: 0 3px 15px rgba(98, 180, 70, 0.8);
          box-shadow: 0 3px 15px rgba(98, 180, 70, 0.8);
  color: white;
  cursor: pointer;
  letter-spacing: 0.08em;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-main:hover {
  background: #4aa52b;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.align-right {
  text-align: right;
}

/***************************************
3. MAIN NAVIGATION
***************************************/
.header_main {
  border-bottom: 1px solid #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.header_wrapper {
  background: rgba(0, 0, 0, 0.45);
}

.menu-wrapper {
  position: relative;
  padding: 1.75em 0;
}

.logo img {
  max-width: 165px;
}

.main-nav {
  position: relative;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-nav__link {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 12px 20px;
  border: 1px solid transparent;
  letter-spacing: 0.05em;
}

.main-nav__link.active, .main-nav__link:hover {
  border: 1px solid #fff;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 15px;
  cursor: pointer;
}

.hamburger .bar:not(:last-child) {
  margin-bottom: 7px;
}

.hamburger .bar:before {
  display: block;
  content: '';
  height: 2px;
  width: 25px;
  background: #fff;
}

/***************************************
4. HERO CAROUSEL
***************************************/
.hero-carousel, .main-carousel {
  height: 100vh;
}

.hero-carousel {
  position: relative;
}

.social_links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 5%;
  bottom: 15%;
}

.social_links li:not(:last-child) {
  margin-bottom: 1rem;
}

.social_links li a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
}

.social_links li a:hover {
  background: white;
}

.social_links li a:hover i {
  color: #62B446;
}

.social_links li a i {
  color: white;
  font-size: 1.25rem;
  min-width: 1.5rem;
  padding: 5px;
  min-height: 1.25rem;
  text-align: center;
}

.arrow_down {
  position: absolute;
  display: block;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: more 2s infinite;
          animation: more 2s infinite;
}

.arrow_down i {
  color: #62B446;
  font-size: 2.5rem;
}

@-webkit-keyframes more {
  from {
    bottom: 20px;
  }
  to {
    bottom: -10px;
  }
}

@keyframes more {
  from {
    bottom: 20px;
  }
  to {
    bottom: -10px;
  }
}

.main-carousel__item {
  height: 100vh;
  position: relative;
}

.main-carousel__item img {
  height: 100vh;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-carousel-main {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
}

.main-carousel__content {
  position: absolute;
  height: auto;
  width: 100%;
  left: 50%;
  top: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.main-carousel__title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.main-carousel__subtitle {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.main-carousel .slick-dots li button {
  font-size: 0;
  border: 1px solid white;
  border-radius: 50%;
  background: none;
  height: 1rem;
  width: 1rem;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: transparent;
  opacity: 0.75;
  height: 1rem;
  width: 1rem;
}

.main-carousel .slick-dots {
  bottom: 60px;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
  background: white;
  border-radius: 50%;
}

.block {
  height: 200px;
  width: 100%;
  background: red;
}

/***************************************
5. HOW CAN WE HELP
***************************************/
.section-help {
  padding: 8rem 0;
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
          clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  background: white;
  margin-top: -3.4rem;
  background-image: url("../img/pattern.svg");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}

.helper-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divide__4 {
  width: calc((100% / 4) - 18px);
}

.helper-content__box {
  background: white;
  -webkit-box-shadow: 0 8PX 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8PX 22px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.helper-content__text {
  font-family: "Archer book";
  font-weight: normal;
  color: #000;
  font-size: 1.258rem;
  padding: 3rem 1.25rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helper-content__btn {
  padding: 0 25px;
  background: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.helper-content__btn::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #62B446;
  z-index: 1;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.helper-content__btn i {
  font-size: 30px;
  color: #62B446;
  padding: auto 25px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: relative;
  z-index: 2;
}

.helper-content__btn:hover i {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  color: white;
}

.helper-content__btn:hover::after {
  right: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/***************************************
6. TESTIMONIAL
***************************************/
.testimonial {
  background: #EFEFEF;
  margin-top: -4rem;
}

.testimonial-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-wrapper .divide__2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.testimonial-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-text {
  font-family: 'gotham book';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.testimonial-text p {
  padding: 0 7rem;
  color: #000;
}

.testimonial-blockquote {
  font-family: 'gotham book';
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.4;
}

.testimonial-blockquote p {
  padding: 0 5rem;
  font-size: 2rem;
  line-height: 1.2;
}

.testimpnial-writer {
  font-family: 'gotham';
  font-weight: 500;
  font-size: 1.5rem;
}

.testimpnial-writer::before {
  content: '-';
}

.vertical-separator {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.vertical-separator:before {
  content: '';
  width: 1px;
  height: 2rem;
  background: #9D9E9D;
}

.quote-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote-icon i svg {
  width: 4.3rem;
  height: auto;
}

.hexagon {
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 230px;
  left: 50%;
  bottom: 15%;
  background-color: #E8E8E8;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-top: 115px solid transparent;
  border-bottom: 115px solid transparent;
}

.hexagon:before {
  left: 100%;
  border-left: 70px solid #E8E8E8;
}

.hexagon:after {
  right: 100%;
  width: 0;
  border-right: 70px solid #E8E8E8;
}

/***************************************
7. RESOURCES
***************************************/
.resources {
  padding: 8rem 0;
  -webkit-clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
          clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  background: white;
  margin-top: -5.2rem;
}

.resources-wrap > .container {
  max-width: 66.67%;
}

.resources-sub {
  padding: 20px 9rem 0;
  line-height: 1.4;
}

.resources-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resources-card__item {
  text-align: center;
  width: calc(100% / 4 - 18px);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.resources-card__item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-box-shadow: 0 10PX 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10PX 30px rgba(0, 0, 0, 0.25);
}

.resources-card__item__icon {
  text-align: center;
}

.resources-card__item__icon svg {
  width: 3.5rem;
  min-height: 72.8px;
  max-height: auto;
}

.pg {
  padding: 2.5rem 2rem;
}

.resources-card__item__title, .resources-card__item__content {
  line-height: 1.4;
}

/***************************************
8. PROGRAMS
***************************************/
.programs {
  background: #EFEFEF;
  padding: 8rem 0;
  margin-top: -4.5rem;
}

.programs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 5rem;
}

.programs__left__title {
  line-height: 1.2;
  padding: 0 3rem;
}

.programs_left_content {
  line-height: 1.6;
  padding: 0 3rem;
}

.programs_left_content:not(:last-child) {
  margin-top: 3rem;
  margin-bottom: 1em;
}

.programs__right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 50%;
  overflow: visible;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-9%);
          transform: translateX(-9%);
}

.programs__right__childleft, .programs__right__childright {
  width: calc(50% - 7.5px);
  height: auto;
}

.programs__right__childleft .programs__right__box:first-child, .programs__right__childright .programs__right__box:first-child {
  margin-bottom: calc(48px + 15px);
}

.programs__right__childright {
  margin-top: -3rem;
}

.programs__right__box {
  background: #62B446;
  color: white;
  text-align: center;
}

.pg-2 {
  padding: 4.25rem 1.5rem;
}

.programs__right__box__title {
  font-family: 'gotham book';
  font-size: 2rem;
  font-weight: normal;
  text-decoration: underline;
  line-height: 1.4;
}

.mt-3rem {
  margin-top: 3rem;
}

.programs__right__box__link {
  font-family: 'archer';
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
  margin-top: 3rem;
  letter-spacing: 0.05em;
}

.programs__right__box__link:after {
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.programs__right__box__link:hover:after {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.programs__right__box:nth-child(2) {
  margin-top: -3rem;
}

/***************************************
9. PROCESS
***************************************/
.process {
  padding: 8rem 0;
  background: white;
  -webkit-clip-path: polygon(50% 0, 100% 10%, 100% 100%, 49% 100%, 0 100%, 0 10%);
          clip-path: polygon(50% 0, 100% 10%, 100% 100%, 49% 100%, 0 100%, 0 10%);
  margin-top: -5rem;
}

.process-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-control {
  position: relative;
}

.title-control::after {
  display: block;
  position: absolute;
  top: 8rem;
  right: 6px;
  z-index: -1;
  content: '';
  height: 100%;
  width: 1px;
  background: #EFEFEF;
}

.process-controls__single {
  margin-top: 7rem;
}

.process-controls__single a::after {
  display: inline-block;
  content: '';
  height: 11px;
  width: 11px;
  color: #fff;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #5D5D5E;
  vertical-align: baseline;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
}

.process-controls__single a.active::after {
  background: #5D5D5E;
}

.process-controls__single a {
  font-family: 'archerpro';
  font-size: 1.25rem;
  font-weight: 300;
  color: #5D5D5E;
}

.process-content__title {
  font-family: 'archerpro';
  font-weight: normal;
  color: #62B446;
  font-size: 2.25rem;
}

.process-content__para {
  margin-top: 2.75rem;
  line-height: 1.6;
}

.btn-div {
  margin-top: 2.5rem;
}

.process-content__left {
  padding: 0 4.75rem;
}

.tab_content {
  display: none;
}

.tab_content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.75s ease;
          animation: fade 0.75s ease;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.process-content__left, .process-content__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.process-content__right img {
  width: 550px;
  height: auto;
}

/***************************************
10. TEAM
***************************************/
.team {
  height: 40rem;
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.team__left, .team__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

.team__right__content {
  margin-top: 2.5rem;
  line-height: 1.6;
}

.team--hasImg img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team--hasContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EFEFEF;
}

.wrap_team_content {
  padding: 0 15rem 0 5rem;
}

.team__right__content__btn {
  margin-top: 2.5rem;
}

.team__right__content__btn .btn-main {
  padding: 1rem 2rem;
}

/***************************************
10. BLOG
***************************************/
.blog {
  padding: 9rem 0;
  -webkit-clip-path: polygon(50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%, 0 10%);
          clip-path: polygon(50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%, 0 10%);
  background: white;
  background-image: url("../img/pattern.svg");
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: -7.9rem;
}

.blog_header {
  text-align: center;
}

.sub_title.resources-sub {
  padding: 0 20rem 0;
  line-height: 1.5;
}

.separator_horizontal {
  width: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separator_horizontal:before {
  content: '';
  width: 6rem;
  height: 1px;
  background: #5D5D5E;
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.75rem;
}

.blog-card {
  width: calc(100% / 4 - 18.75px);
}

.blog-card__content__wrap {
  padding: 1.2rem 1rem;
  border: 1px solid #5D5D5E;
  background: white;
}

.blog-card__content__wrap .seprator_horizontal {
  width: 100%;
  height: 1px;
  background: #5D5D5E;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-card__content__wrap .programs__right__box__link {
  color: #62B446;
  display: inline-block;
  font-family: 'archerpro';
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  -webkit-transform: 0.35s all ease-in-out;
          transform: 0.35s all ease-in-out;
}

.blog-card__content__wrap .programs__right__box__link:after {
  margin-left: 1rem;
}

.blog-card__content__wrap .programs__right__box__link:hover:after {
  margin-left: 1.2rem;
  -webkit-transform: 0.35s all ease-in-out;
          transform: 0.35s all ease-in-out;
}

.blog-card__title {
  font-family: 'gotham book';
  font-weight: 300;
  line-height: 1.4;
}

.blog-card__image > a {
  display: block;
  max-height: 12rem;
}

.blog-card__image img {
  height: 12rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card__date {
  font-size: 1.1rem;
  font-family: 'archerpro';
  font-weight: 600;
  color: #9D9E9D;
  margin-top: 1rem;
}

.blog-card__content {
  line-height: 1.6;
}

/***************************************
11. CASE STUDIES
***************************************/
.case-studies {
  padding: 8rem 0;
  background: #EFEFEF;
  margin-top: -8.5rem;
}

.case-studies > .contaienr {
  width: 66.6667%;
  margin-left: auto;
  margin-right: auto;
}

.case-carousel__item__img img {
  height: 19rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.case-carousel__item__title {
  font-family: 'gotham book';
  font-size: 2rem;
  font-weight: normal;
  margin-top: 2rem;
}

.case-carousel__item__info {
  font-family: 'archer';
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
}

.case-carousel__item__info span.spacer {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.case-carousel__item__content {
  margin-top: 1.5rem;
  line-height: 1.6;
}

.case-carousel__item.slick-slide {
  margin: 20px;
}
/*# sourceMappingURL=style.css.map */